.bin
*.pyc
csp/.buildlog
csp/.config
csp/.config.log
csp/.scon*
csp/bin/atmosphere.*
csp/bin/sim.dar
csp/bin/sim.log
csp/bin/Demeter.log
csp/data/input/*.hid
csp/data/terrain/*
csp/parser.out
csp/parsetab.py
#csp/csplib/net/ClientServerMessages.h
csp/csplib/util/Config.h
#csp/cspsim/ObjectUpdate.h
#csp/cspsim/battlefield/BattlefieldMessages.h
