.bin
.dox*
*.dar
*.pyc
csp/.buildlog
csp/.config
csp/.config.log
csp/.scon*
csp/bin/atmosphere.*
csp/bin/sim.log
csp/bin/Demeter.log
csp/data/input/*.hid
csp/data/terrain
csp/parser.out
csp/parsetab.py
csp/csplib/net/ClientServerMessages.cpp
csp/csplib/net/ClientServerMessages.h
csp/csplib/util/Config.h
csp/cspsim/ObjectUpdate.cpp
csp/cspsim/ObjectUpdate.h
csp/cspsim/battlefield/BattlefieldMessages.cpp
csp/cspsim/battlefield/BattlefieldMessages.h
csp/tools/layout2/.csplayout
csp/tools/layout2/Demeter.log
/CMakeCache.txt
/*.vcxproj
/*.vcxproj.filters
/*.cmake
/*.sln
/csp/*/CMakeFiles
/csp/*/*.cmake
/csp/*/*.vcxproj
/csp/*/*.vcxproj.filters
/csp/examples/*/CMakeFiles
/csp/examples/*/*.vcxproj
/csp/examples/*/*.vcxproj.filters
/csp/examples/*/*.cmake
/*.vcproj
/csp/*/*.vcproj
/csp/*/*/*.vcproj
/CMakeFiles
/ZERO_CHECK.dir
/*.ncb
/csp/*/Debug
/csp/*/Release
/csp/*/*.dir
/csp/csplib/parser.out
/csp/csplib/parsetab.py
/csp/*/*/Debug
/csp/*/*/Release
/csp/*/util/*.dir
/csp/*/Debug
/csp/*/*.dir
/csp/cspsim/parser.out
/csp/cspsim/parsetab.py
/csp/examples/*/Debug
/csp/examples/*/*.dir
/bin
/csp/examples/*/Release
/*.vcproj.*.*.user
/*.suo
/csp/*/MinSizeRel
/csp/*/*/MinSizeRel
/csp/*/*/*.dir
/csp/*/*/*.vcproj.*.*.user
/csp/*/*.dir
/csp/*/*.vcproj.*.*.user
/*.vcxproj.user
/Debug
/*.opensdf
/*.sdf
/csp/*/*.vcxproj.user
/csp/*/*/*.vcxproj.user
/ipch
/csp/doxygen
/MinSizeRel
