# Compiled python
*.pyc

# Object and binary files.
*.os
*.o
*.so
*.exe
*.dll

# Log files, recordings and data archive generated while running the sim.
*.log
*.dat
*.rec
*.dar
csp/data/input/*.hid
csp/data/terrain
csp/parser.out
csp/parsetab.py

# Swig generated code
*_wrap.h
*_wrap.cc
csp/csplib/csplib_module.py
csp/cspsim/cspsim_module.py

# Generates Config.h
csp/csplib/csplib_confi
csp/csplib/util/Config.h

# SCons temporary files
csp/.scon
csp/.config

# Generated code fron .net files.
csp/csplib/net/ClientServerMessages.cpp
csp/csplib/net/ClientServerMessages.h
csp/cspsim/ObjectUpdate.cpp
csp/cspsim/ObjectUpdate.h
csp/cspsim/battlefield/BattlefieldMessages.cpp
csp/cspsim/battlefield/BattlefieldMessages.h

# Text editor cross ref
TAGS

# Example programs
csp/examples/clouds-scene/clouds-scene
csp/examples/clouds/clouds
csp/examples/objectmodel/objectmodel
csp/examples/osgviewer_sdlinput/osgviewer_sdlinput_module.py
csp/examples/sky/sky
csp/examples/wf-listbox/wf-listbox
csp/examples/wf-scrollbars/wf-scrollbars
csp/examples/wf-signals/wf-signals
csp/examples/wf-window/wf-window
